{% extends 'collections_app/home.html' %}
{% load static %}

{% block title %}Collector Notes{% endblock %}


{% block content %}
<h1>Collector Notes</h1>
<p>Here are the notes collected by the system:</p>
<p>Total notes: {{ notes.count }}</p>
<ul>
    {% for note in notes %}
    <li>Collector ID: {{ note.collector_id }} - Note: {{ note.note }}</li> 
    <button class="btn btn-primary" onclick="openForm()">Add Note</button>
    {% empty %}
    <li>No notes available.</li>
    {% endfor %}
</ul>
<!-- Include the modal -->
{% include 'collections_app/edit_note.html' %}
{% endblock %}

<!-- Link styles and JavaScript -->
{% block extra_scripts %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<script src="{% static 'popup.js' %}"></script>
{% endblock %}

