{% load static %}
<div id="modal_container" class="modal-container">
    <div class="modal-content">
        <form action="{% url 'edit_note' %}" method="POST" class="form-container">
            {% csrf_token %}
            <label for="noteContent">Note Content</label>
            <textarea id="noteContent" name="note_content" required></textarea>
            <div class="form-actions">
                <button type="submit" class="btn">Save</button>
                <button type="button" class="btn cancel" id="close">Cancel</button>
            </div>
        </form>
    </div>
</div>

